{% extends "default" %}

{% block content_wrapper %}
    <article>
        <header>
            <h2>{{ page.title }}</h2>
            <p><small>{{ page.date | date("Y-m-d") }}</small></p>
        </header>

        <div class="article-text">
            {{ page.blocks.content|raw }}
        </div>

		<div class="article-footer">
			<p class="written-by">
				<strong>
					Written by <a href="https://www.martinhujer.cz">Martin Hujer</a>
				</strong>
			</p>
			<p>
				<small>
					<strong>
						<a href="https://twitter.com/MartinHujer">Follow me on Twitter</a>
					</strong>
					<br>
					<strong>
						<a href="{{ site.url }}/feed/">Subscribe to RSS</a>
					</strong>
				</small>
			</p>
		</div>

		{% if page.showPhpTrainingAd -%}
		<div class="php-training">
			<h3>Přijďte na má školení PHP!</h3>

			<ul>
				<li>
					Pokud chcete s programováním v PHP začít, tak se přihlaste na
					<a href="https://www.martinhujer.cz/skoleni/uvod-do-php/" title="Školení PHP pro začátečníky"><strong>školení Úvod do PHP</strong></a>
				</li>

				<li>
					Pokud už něco v PHP umíte a chcete se posunout dále, tak doporučuji
					<a href="https://www.martinhujer.cz/skoleni/objektove-programovani-v-php/" title="Školení PHP pro pokročilé"><strong>školení Objektového programování v PHP</strong></a>
				</li>

				<li>
					Případně pro vás mohu připravit na míru
					<a href="https://www.martinhujer.cz/skoleni/symfony/" title="Firemní Symfony školení"><strong>Školení Symfony pro firmu</strong></a>.
				</li>
			</ul>
		</div>
		{%- endif %}

		{%- if page.showTravelLinks -%}
		<div>
			<h3>Mrkněte na <a href="https://www.amazinglanzarote.com/" title="Nejlepší místa na Lanzarote">můj web s informacemi o výletech na Lanzarote</a></h3>
			<ul>
				<li><a href="https://www.amazinglanzarote.com/rent-a-car-in-lanzarote/"><strong>Půjčení auta na Lanzarote</strong></a></li>
				<li><a href="https://www.amazinglanzarote.com/shipwreck-near-arrecife/"><strong>Vrak lodi nedaleko Arrecife</strong></a></li>
				<li><a href="https://www.amazinglanzarote.com/hike-to-volcano-monte-corona/"><strong>Hike na Volcano Monte Corona</strong></a></li>
				<li><a href="https://www.amazinglanzarote.com/caldera-de-montana-blanca-hike/"><strong>Hike na Caldera de Montaña Blanca</strong></a></li>
				<li><a href="https://www.amazinglanzarote.com/montana-blanca-hike/"><strong>Hike na Montaña Blanca</strong></a></li>
				<li><a href="https://www.amazinglanzarote.com/paddleboarding-sup-in-lanzarote/"><strong>Paddleboarding na Lanzarote</strong></a></li>
				<li><a href="https://www.amazinglanzarote.com/cactus-garden-jardin-de-cactus/"><strong>Jardín de Cactus</strong></a></li>
				<li><a href="https://www.amazinglanzarote.com/cesar-manrique/"><strong>César Manrique - lanzarotský umělec</strong></a></li>
			</ul>
		</div>
		{%- endif %}

    </article>

{% if site.disqus.shortname and site.disqus.shortname != '' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{site.disqus.shortname}}'; // required: replace example with your forum shortname


    {% if page.disqus.identifier  %}var disqus_identifier = '{{page.disqus.identifier}}'; {% endif %}

    {% if page.disqus.title %}var disqus_title = '{{page.disqus.title}}';{% endif %}

    {% if page.disqus.url %}var disqus_url = '{{page.disqus.url}}';{% endif %}

    {% if page.disqus.category_id %}var disqus_category_id = '{{page.disqus.category_id}}';{% endif %}

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
{% endif %}

{% endblock %}
