---
layout: default
generator: pagination
pagination:
    max_per_page: 999
use:
    - posts
---

{% for post in page.pagination.items %}
    {% set this_year %}{{ post.date | date("Y") }}{% endset %}
    {% if year != this_year %}
        {% if year is defined %}
            </ul>
        {% endif %}

        {% set year = this_year %}
        <h2 class="year-header">{{ year }}</h2>
        <ul>
    {% endif %}
        <li>
        <h3>
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <small>
                {{ post.date | date("j. n. Y") }}
            </small>
        </h3>
        {% if post.short %}
            <p>{{ post.short }}</p>
        {% endif %}
        </li>
{% endfor %}
